# npm
**/node_modules
package-lock.json

# build
dist
/types

# eslint
.eslintcache

# jest
/coverage

src/test/test_folder/collection_1.png_test.json
src/test/test_folder/token_1.png_test.json
src/test/test_folder/token_2.png_test.json

#.idea
.idea

.DS_Store