.pickerContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%
}

.walletCard {
  background-color: #fff;
}

.walletCard:not(:last-child) {
  margin-bottom: 10px;
}

.walletCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
